<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:rdb="http://www.dangdang.com/schema/ddframe/rdb"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/task
            http://www.springframework.org/schema/task/spring-task-3.0.xsd
            http://www.dangdang.com/schema/ddframe/rdb 
            http://www.dangdang.com/schema/ddframe/rdb/rdb.xsd
            http://cxf.apache.org/jaxws
            http://cxf.apache.org/schemas/jaxws.xsd">
    <context:property-placeholder location="classpath:jdbc.properties"  ignore-unresolvable="true"/>
    <context:annotation-config />

    <!-- 定义数据源，使用自己实现的数据源 -->
    <bean id="dataSource" class="com.jty.db.DynamicDataSource">
        <property name="sysSer" ref="sysSer"/>
    </bean>

    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        <!-- MyBatis 的 XML 配置文件路径 -->
        <property name="configLocation" value="classpath:sqlMapConfig.xml" />
        <!-- 扫描自动生成的xml文件 --><!-- Mybatis XML映射文件 -->
        <property name="mapperLocations">
            <list>
                <!-- 扫描自己写的xml文件classpath打上*,否则单元测试不能dao注入  -->
                <value>classpath*:com/jty/*/dao/sql/*.mybatis.xml</value>
            </list>
        </property>
        <property name="plugins">
            <bean class="com.jty.web.limit.MybatisLimit"></bean>
        </property>
    </bean>
    <!-- 扫描mybatisGenerator 自动生成的 所有接口 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.jty.*.dao"/>
    </bean>
</beans>